main{
    background-color: darkgrey;
}

a{
    color: darkgray
}
a[rel]{
    border: 1px solid red;
}
a[rel='Un Francés']{
    color:blue;
  }
  a[rel~='Buscador']{
    color:blue;
  }
  a[lang|='es-ES']{
    background-color:yellow;
  }

